aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
certifi==2022.12.7
chardet==3.0.4
click==7.1.2
decorator==4.4.2
ephem==3.7.7.0
Flask==1.1.2
future==0.18.2
geocoder==1.38.1
geoip2==4.1.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
maxminddb==2.0.3
multidict==5.1.0
pyephem==3.7.7.0
pygeoip==0.3.2
ratelim==0.1.6
requests==2.25.1
requests-cache==0.5.2
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.5
Werkzeug==1.0.1
yarl==1.6.3
