<!DOCTYPE html>
<head>
        <title>Symphony of Satellites</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link href="http://fonts.googleapis.com/css?family=Monsieur+La+Doulaise" rel="stylesheet" type="text/css">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

        <!-- midi.js package -->
        <script src="{{ url_for('static', filename='js/MIDI/AudioDetect.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/MIDI/LoadPlugin.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/MIDI/Plugin.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/MIDI/Player.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/Window/DOMLoader.XMLHttp.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/Window/DOMLoader.script.js') }}" type="text/javascript"></script>
         <!-- extras -->
         <script src="{{ url_for('static', filename='inc/Base64.js') }}" type="text/javascript"></script>
         <script src="{{ url_for('static', filename='inc/base64binary.js') }}" type="text/javascript"></script>

         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

         <script type="text/javascript" src="{{ url_for('static', filename='js/Three.js') }}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/RequestAnimationFrame.js') }}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/Stats.js') }}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/Tween.js') }}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/Sparks.js') }}"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/CanvasShaders.js') }}"></script>
         <script src="{{ url_for('static', filename='js/page.js') }}" type="text/javascript"></script>
         <script type=text/javascript>
             $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
         </script>
        <style>
         #viz{
            position: absolute;
            top: 0;
            z-index: -1;
         }
         </style>

</head>

<body style="overflow: hidden" data-rhythm="{{rhythm}}">
        <div class="pure-g-r">
                <div class="pure-u-1-2">
                    <img src="http://i.imgur.com/K7JmNq3.png">
                    {% if not rhythm %}
                    <h2 style="margin-left: 1rem;">Satellites</h2>
                    <ul id="satellites"></ul>
                    <h3 style="margin-left: 1rem;">As performed by</h3>
                    <ul id="instruments">
                    {% endif %}
                </div>
                <div class="pure-u-1-2">
                    <h1 style="font-family: 'Monsieur La Doulaise', cursive; font-size: 56pt; font-weight: normal; text-shadow: 1px 1px 1px #fff">Symphony of Satellites</h1>
                    <a style="position: absolute; bottom:10px; right: 10px; font-size: 12px;" href="http://blog.gleitzman.com/post/63283830260/midi-js-playing-audio-in-the-browser-with-javascript">learn more...</a>
                    {% if rhythm %}
                        {% if error %}
                        <h3 style="color: red;">{{error}}</h3>
                        {% endif %}
                    <form method="get">
                    <textarea rows="20" id="rhythm" cols="50" name="rhythm">{{ rhythm }}</textarea>
                    <input value="Submit" type="submit">
                    </form>
                    {% else %}
                    <form data-lat="{{lat}}" data-lng="{{lng}}" id="location_form" method="get" style="margin-bottom: 1em;">
                        <input style="width: 400px; background: inherit;" name="address" type="text" value="{{address}}">
                        <input value="Change" class="pure-button" type="submit">
                    </form>
                    {% endif %}
                    <button class="pure-button pure-button-disabled" id="play">Loading..</button>
                </div>
        </div>

        <script type="text/javascript">
            // Inspired from http://wonderfl.net/c/qTwn and mr doob three.js examples

            var container, stats;
            var camera, scene, renderer, group, particle, note_particle;
            var mouseX = 0, mouseY = 0;

            var windowHalfX = window.innerWidth / 2;
            var windowHalfY = window.innerHeight / 2;

            var lasttime = Date.now(), elapsed;

            var sparksEmitter;
            var noteEmitter;
            var lastVelocity = 1;
            var lastVeloscale = 1;

            function init() {

                container = document.createElement( 'div' );
                container.setAttribute("id", "viz");
                document.body.appendChild( container );

                camera = new THREE.Camera( 75, window.innerWidth / window.innerHeight, 1, 300 );
                camera.position.z = 150; //1000

                scene = new THREE.Scene();
                group = new THREE.Object3D();
                scene.add( group );

                renderer = new THREE.CanvasRenderer();
                renderer.setSize( window.innerWidth*2, window.innerHeight*2 );
                container.appendChild( renderer.domElement );

                // stats = new Stats();
                // stats.domElement.style.position = 'absolute';
                // stats.domElement.style.top = '0px';
                // container.appendChild( stats.domElement );

                function generateSprite() {

                    var canvas = document.createElement( 'canvas' );
                    canvas.width = 16;
                    canvas.height = 16;

                    var context = canvas.getContext( '2d' );
                    var gradient = context.createRadialGradient( canvas.width / 2, canvas.height / 2, 0, canvas.width / 2, canvas.height / 2, canvas.width / 2 );
                    gradient.addColorStop( 0, 'rgba(255,255,255,1)' );
                    gradient.addColorStop( 0.2, 'rgba(0,255,255,1)' );
                    gradient.addColorStop( 0.4, 'rgba(0,0,64,1)' );
                    gradient.addColorStop( 1, 'rgba(0,0,0,1)' );

                    context.fillStyle = gradient;
                    context.fillRect( 0, 0, canvas.width, canvas.height );

                    return canvas;

                }

                //// EMITTER STUFF
                sparksEmitter = new SPARKS.Emitter(new SPARKS.SteadyCounter(20));
                emitterpos = new THREE.Vector3(0,0,0);
                var sphereCap = new SPARKS.SphereCapZone(10, 10, 10, 10, 10, 10);

                sparksEmitter.addInitializer(new SPARKS.Position( new SPARKS.PointZone( emitterpos ) ) );
                sparksEmitter.addInitializer(new SPARKS.Lifetime(12,12));

                noteEmitter = new SPARKS.Emitter(new SPARKS.SteadyCounter(0));
                noteEmitterpos = new THREE.Vector3(0,0,0);
                var noteSphereCap = new SPARKS.SphereCapZone(10, 10, 10, 10, 10, 10);

                noteEmitter.addInitializer(new SPARKS.Position( new SPARKS.PointZone( noteEmitterpos ) ) );
                noteEmitter.addInitializer(new SPARKS.Lifetime(12,12));

                var h = 0;
                function hsv2hsl(a,b,c){return[a,b*c/((a=(2-b)*c)<1?a:2-a),a/2]}

                var callback = function() {

                    var material = new THREE.ParticleCanvasMaterial( {  program: SPARKS.CanvasShadersUtils.circles , blending:THREE.AdditiveBlending } );

                    material.color.setHSV(1, 0, 0); //0.7

                    particle = new THREE.Particle( material );

                    particle.scale.x = particle.scale.y = Math.random() * .4;
                    group.add( particle );

                    return particle;
                };

                var note_callback = function() {

                    var material = new THREE.ParticleCanvasMaterial( {  program: SPARKS.CanvasShadersUtils.circles , blending:THREE.AdditiveBlending } );
                    material.color.setHSV(1, 0, 0); //0.7
                    note_particle = new THREE.Particle( material );
                    note_particle.scale.x = note_particle.scale.y = mapRange(lastVelocity, 1, 127, 1, (2 * lastVeloscale));
                    group.add( note_particle );

                    return note_particle;
                };

                sparksEmitter.addInitializer(new SPARKS.Target(null, callback));
                //sparksEmitter.addInitializer(new SPARKS.Velocity(sphereCap));
                sparksEmitter.addInitializer(new SPARKS.Velocity(new SPARKS.PointZone(new THREE.Vector3(-25,0,0))));
                sparksEmitter.addAction(new SPARKS.Age());
                sparksEmitter.addAction(new SPARKS.Accelerate(.05));
                sparksEmitter.addAction(new SPARKS.Move());
                sparksEmitter.addAction(new SPARKS.RandomDrift( 0, 10, 10 ) );

                sparksEmitter.addCallback("created", function(p) {
                    var position = p.position;
                    p.target.position = position;
                });

                sparksEmitter.addCallback("initialized", function(particle) {
                    var position = p.position;
                    p.target.position = position;
                });

                sparksEmitter.addCallback("dead", function(particle) {
                    particle.target.visible = false; // is this a work around?
                    group.remove(particle.target);
                });

                /*
                sparksEmitter.addCallback("updated", function(p) {

                });
                */
                noteEmitter.addInitializer(new SPARKS.Target(null, note_callback));
                //sparksEmitter.addInitializer(new SPARKS.Velocity(sphereCap));
                noteEmitter.addInitializer(new SPARKS.Velocity(new SPARKS.PointZone(new THREE.Vector3(-25,0,0))));
                noteEmitter.addAction(new SPARKS.Age());
                noteEmitter.addAction(new SPARKS.Accelerate(1));
                noteEmitter.addAction(new SPARKS.Move());
                noteEmitter.addAction(new SPARKS.RandomDrift( 0, 3, 1 ) );

                noteEmitter.addCallback("created", function(p) {
                    var position = p.position;
                    p.target.position = position;
                });

                noteEmitter.addCallback("initialized", function(particle) {
                    var position = p.position;
                    p.target.position = position;
                });

                noteEmitter.addCallback("dead", function(particle) {
                    particle.target.visible = false; // is this a work around?
                    group.remove(particle.target);

                });

                sparksEmitter.start();
                noteEmitter.start();
            }

            //

            function onDocumentMouseMove( event ) {

                mouseX = event.clientX - windowHalfX;
                mouseY = event.clientY - windowHalfY;
            }

            function onDocumentTouchStart( event ) {

                if ( event.touches.length == 1 ) {

                    event.preventDefault();

                    mouseX = event.touches[ 0 ].pageX - windowHalfX;
                    mouseY = event.touches[ 0 ].pageY - windowHalfY;
                }
            }

            function onDocumentTouchMove( event ) {

                if ( event.touches.length == 1 ) {

                    event.preventDefault();

                    mouseX = event.touches[ 0 ].pageX - windowHalfX;
                    mouseY = event.touches[ 0 ].pageY - windowHalfY;
                }
            }

            function animate(time) {
                if (!time) {
                    time = Date.now();
                }
                elapsed = time - lasttime;
                lasttime = time;

                //sparksEmitter.update(elapsed / 1000);

                requestAnimationFrame( animate );

                render();

            }

            function  mapRange(value, leftMin, leftMax, rightMin, rightMax){

                var leftSpan = leftMax - leftMin;
                var rightSpan = rightMax - rightMin;
                var valueScaled = parseFloat(value - leftMin) / parseFloat(leftSpan);
                return rightMin + (valueScaled * rightSpan);
            }

            function createNoteParticle(value, velocity, veloscale){

                noteEmitterpos.y = value;
                lastVelocity = velocity;
                lastVeloscale = veloscale;
                noteEmitter.createParticle();
            }

            var _rotation = 0;

            function render() {

                // camera.position.x += ( mouseX - camera.position.x ) * 0.05;
                // camera.position.y += ( - mouseY - camera.position.y ) * 0.05;
                //
                // group.rotation.x += 0.01;
                // group.rotation.y += 0.02;

                _rotation += 2;

                // emitterpos.x = 100 * Math.sin((_rotation ) * SPARKS.Utils.DEGREE_TO_RADIAN);
                // emitterpos.y = Math.abs(80 * Math.cos((_rotation) * SPARKS.Utils.DEGREE_TO_RADIAN));

                emitterpos.y = Math.random() * 100 + 10;

                // emitterpos.z = 50 * Math.cos((_rotation +mouseX) * SPARKS.Utils.DEGREE_TO_RADIAN);

                renderer.render( scene, camera );

            }

            $(document).ready(function() {

                init();
                animate();

                $('#play').click(function() {

                });

            });

        </script>
        {% if rhythm %}
        <script src="http://gleitzman.com/apps/globalshare/bcsocket.js"></script>
        <script src="http://gleitzman.com/apps/globalshare/share.js"></script>
        <script src="http://gleitzman.com/apps/globalshare/textarea.js"></script>
        {% endif %}
        <script src="{{ url_for('static', filename='js/share.js') }}" type="text/javascript"></script>
</body>

</html>
